@import url('https://fonts.googleapis.com/css?family=Pacifico');
page-home2 {
    .bg {
        height: 100%;
        width: 100%;
        background: linear-gradient(160deg, #B627F2 30%, #10DFC8 70%);
    }
    .head {
        position: absolute;
        display: block;
        color: #fff;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .head h1 {
        font-size: 7vh!important;
        font-weight: lighter!important;
        font-family: 'Pacifico', cursive;
    }
    .head h5 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-top: 2px;
        font-weight: 200;
        font-size: 2vh;
    }
    .inputs {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        color: #fff;
        opacity: 0.6;
    }
    ion-item {
        background: transparent!important;
        border: 1px solid #fff!important;
        ion-input {
            color: #fff;
        }
        ion-label {
            color: #fff!important;
        }
        .item-inner {
            border: 0!important;
        }
    }
    button {
        position: absolute;
        display: block;
        top: 50%;
        background: #fff!important;
        border: 1px solid #fff;
        box-shadow: 0px;
        color: #9A9595!important;
    }
}